@model DCAS_PracticalExam.Models.EvaluationInstructorsFields

@{
    ViewData["Title"] = "AddInstructorsEvaluation";
}

<form method="post" enctype="multipart/form-data">
    <div class="mycontainer p-2">

                <h2 class="text-center" style="color: #c00000">
                    Evaluation Form for Instructors
                </h2>
                <h4 class="text-center" style="color: #002060">
                    Ambulance Regulation Services Section
                </h4>
                <div>
                    <hr />
                </div>
                <div>
                    <table width="100%" border="1" class="table table-striped table-hover">
                        <tr>
                            <td rowspan="9" width="40%" style="
                    background-color: #002060;
                    color: #fff;
                    word-wrap: break-word;
                    margin: 0 1px 0;
                  ">
                                The evaluation you are about to write is an important document
                                for DCAS Regulation & Licensing Section. The information
                                provided will be used by the department to evaluate the
                                instructor's ability to teach. Please take this evaluation
                                seriously.
                            </td>
                        </tr>
                        <tr>
                            <td width="40%">
                                <label asp-for="Name" class="text-center"
                                       style="color: black; font-size: 0.9rem; font-weight: bold">Name</label>
                            </td>
                            <td width="30%">
                                <input runat="server" id="CandidateName" tabindex="1" name="Name" asp-for="Name" class="form-control" type="text" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </td>
                        </tr>
                        <tr>
                            <td width="30%">

                                <label asp-for="ProfessionalQualifications" class="text-center"
                                       style="color: black; font-size: 0.9rem; font-weight: bold">Professional Qualification</label>
                            </td>
                            <td width="30%">
                                <input runat="server" id="EstName" asp-for="ProfessionalQualifications" tabindex="1" name="ProfessionalQualifications" class="form-control" type="text"
                                       style="height: auto" />
                            </td>
                        </tr>
                        <tr>
                            <td width="30%">
                                <label asp-for="SiteName" class="text-center"
                                       style="color: black; font-size: 0.9rem; font-weight: bold">Site Name</label>
                            </td>
                            <td width="30%">
                                <input runat="server" id="SiteName" asp-for="SiteName" tabindex="1" name="SiteName" class="form-control" type="text"
                                       style="height: auto" />
                            </td>
                        </tr>
                        <tr>
                            <td width="30%">
                                <label asp-for="EvaluationDate" class="text-center"
                                       style="color: black; font-size: 0.9rem; font-weight: bold">Evaluation Date</label>
                            </td>
                            <td width="30%">
                                <input asp-for="EvaluationDate" runat="server" type="text" value="" tabindex="2" class="form-control" id="datetimepicker" />
                                <span asp-validation-for="EvaluationDate" class="text-danger"></span>
                            </td>
                        </tr>

                        <tr>
                            <td width="30%">
                                <label asp-for="Subject" class="text-center"
                                       style="color: black; font-size: 0.9rem; font-weight: bold">Subject</label>
                            </td>
                            <td width="30%">
                                <input runat="server" asp-for="Subject" id="Subject" tabindex="1" name="Subject" class="form-control" type="text"
                                       style="height: auto" />
                            </td>
                        </tr>
                        <tr>
                            <td width="40%">
                                <label asp-for="EstablishmentName" class="text-center"
                                       style="color: black; font-size: 0.9rem; font-weight: bold">Establishment Name</label>
                            </td>
                            <td width="30%">
                                <input runat="server" id="EstbName" tabindex="1" asp-for="EstablishmentName" class="form-control" type="text" />
                                <span asp-validation-for="EstablishmentName" class="text-danger"></span>
                            </td>
                        </tr>
                        <tr>
                            <td width="40%">
                                <label asp-for="Designation" class="text-center"
                                       style="color: black; font-size: 0.9rem; font-weight: bold">Designation</label>
                            </td>
                            <td width="30%">
                                <input runat="server" id="Desig" tabindex="1" asp-for="Designation" class="form-control" type="text" />
                                <span asp-validation-for="Designation" class="text-danger"></span>
                            </td>
                        </tr>
                        <tr>
                            <td width="40%">
                                <label asp-for="CRMRequest" class="text-center"
                                       style="color: black; font-size: 0.9rem; font-weight: bold">CRM Request</label>
                            </td>
                            <td width="30%">
                                <input runat="server" id="CrmRequest" tabindex="1" asp-for="CRMRequest" class="form-control" type="text" />
                                <span asp-validation-for="CRMRequest" class="text-danger"></span>
                            </td>
                        </tr>
                    </table>
                </div>
                <hr />

                <div>
                    <table class="table table-striped table-bordered" width="600" border="0" cellspacing="0" cellpadding="0">
                        <thead style="background: #002060; color: #fff;">
                            <tr>
                                <th class="col-6">
                                    Questions (Put a check mark for the desired choice)
                                </th>
                                <th class="col-3" style="text-align: center;">Successful</th>
                                <th class="col-3" style="text-align: center;">Needs Remediation</th>
                            </tr>
                        </thead>
                        <tr style="display: none">
                            <td>Name</td>
                            <td>
                                An Establishment shall not use a name which is substantially
                                the same as the name of another ambulance service licensed by
                                DCAS unless the applicant is part of the same organization or
                                affiliated organization of the other services.
                            </td>
                            <td>
                                <input runat="server" type="checkbox" name="StandardName" id="StandardName" value="Yes" />
                                <label for="StandardName"></label>
                            </td>
                            <td>
                                <textarea runat="server" class="textAreaBig form-control" name="txtCmts" tabindex="6" id="txtRemarks1"
                                          rows="3" cols="10"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                1. Prepared the learning environment (arranged the classroom)
                            </td>
                            <td>
                                <input type="checkbox" asp-for="Question1Check"  />
                                <span asp-validation-for="Question1Check" class="text-danger"></span>
                            </td>
                            <td>
                                <input type="checkbox" asp-for="Question1Remediation" />
                                <span asp-validation-for="Question1Remediation" class="text-danger"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>2. The instructor broke the barrier.</td>
                            <td>
                                <input type="checkbox" asp-for="Question2Check"  />
                                <span asp-validation-for="Question2Check" class="text-danger"></span>
                            </td>
                            <td>
                                <input type="checkbox" asp-for="Question2Remediation" />
                                <span asp-validation-for="Question2Remediation" class="text-danger"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                3. Presented self in a professional and confident manner.
                            </td>
                            <td>
                                <input type="checkbox" asp-for="Question3Check"  />
                                <span asp-validation-for="Question3Check" class="text-danger"></span>
                            </td>
                            <td>
                                <input type="checkbox" asp-for="Question3Remediation" />
                                <span asp-validation-for="Question3Remediation" class="text-danger"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                4. The instructor presented the material clearly and had the
                                ability to deliver the information.
                            </td>
                            <td>
                                <input type="checkbox" asp-for="Question4Check"  />
                                <span asp-validation-for="Question4Check" class="text-danger"></span>
                            </td>
                            <td>
                                <input type="checkbox" asp-for="Question4Remediation" />
                                <span asp-validation-for="Question4Remediation" class="text-danger"></span>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                5. There were adequate and appropriate physical facilities as
                                well as supply of equipment that was clean and in good working
                                order for this course.
                            </td>
                            <td>
                                <input type="checkbox" asp-for="Question5Check" />
                                <span asp-validation-for="Question5Check" class="text-danger"></span>
                            </td>
                            <td>
                                <input type="checkbox" asp-for="Question5Remediation"  />
                                <span asp-validation-for="Question5Remediation" class="text-danger"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                6. During presentation the instructor encourage the student to
                                participate in discussions and ask questions and openly state
                                opinions
                            </td>
                            <td>
                                <input type="checkbox" asp-for="Question6Check" />
                                <span asp-validation-for="Question6Check" class="text-danger"></span>
                            </td>
                            <td>
                                <input type="checkbox" asp-for="Question6Remediation" />
                                <span asp-validation-for="Question6Remediation" class="text-danger"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                7. Instructor assesses the student's skills, performance and
                                knowledge.
                            </td>
                            <td>
                                <input type="checkbox" asp-for="Question7Check"  />
                                <span asp-validation-for="Question7Check" class="text-danger"></span>
                            </td>
                            <td>
                                <input type="checkbox" asp-for="Question7Remediation" />
                                <span asp-validation-for="Question7Remediation" class="text-danger"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>8. Instructors provided adequate and helpful feedback.</td>
                            <td>
                                <input type="checkbox" asp-for="Question8Check" />
                                <span asp-validation-for="Question8Check" class="text-danger"></span>
                            </td>
                            <td>
                                <input type="checkbox" asp-for="Question8Remediation" />
                                <span asp-validation-for="Question8Remediation" class="text-danger"></span>
                            </td>
                        </tr>
                    </table>
                </div>
                <br />
                <div>
                    <hr />
                </div>
                <p style="font-weight: bold;">
                    9. Please rate the instructor's overall effectiveness (Put a check
                    mark for the desired choice).
                </p>

                <table class="table table-striped table-bordered" width="600" border="0" cellspacing="0" cellpadding="0">
                    <thead style="background: #002060; color: #fff; text-align: center">
                        <tr>
                            <th class="col-2">Poor</th>
                            <th class="col-2">Fair</th>
                            <th class="col-2">Satisfactory</th>
                            <th class="col-2">Good</th>
                            <th class="col-2">Excellent</th>
                        </tr>
                    </thead>
                    <tr>
                        <input type="hidden" id="progressRadio" asp-for="Question9Check" />
                        <td >
                            <input style="display: block; margin: 0 auto" class="form-check-input" type="radio"
                                   name="radiobutton2" value="Poor" id="myprogressradio" checked />
                        </td>
                        <td>
                            <input style="display: block; margin: 0 auto" class="form-check-input" type="radio"
                                   name="radiobutton2" value="Fair" id="myprogressradio" />
                        </td>
                        <td>
                            <input style="display: block; margin: 0 auto" class="form-check-input" type="radio"
                                   name="radiobutton2" value="Satisfactory" id="myprogressradio" />
                        </td>
                        <td>
                            <input style="display: block; margin: 0 auto" class="form-check-input" type="radio"
                                   name="radiobutton2" value="Good" id="myprogressradio" />
                        </td>
                        <td>
                            <input style="display: block; margin: 0 auto" class="form-check-input" type="radio"
                                   name="radiobutton2" value="Excellent" id="myprogressradio" />
                        </td>
                    </tr>
                </table>
                <br />
                <div>
                    <hr />
                </div>
                <p style="font-weight: bold;">
                    10. Rate the overall presentation of this particular learning section (Put check
                    mark for the desired choice).
                </p>
                <table class="table table-striped table-bordered" width="600" border="0" cellspacing="0" cellpadding="0">
                    <thead style="background: #002060; color: #fff; text-align: center">
                        <tr>
                            <th class="col-1">1</th>
                            <th class="col-1">2</th>
                            <th class="col-1">3</th>
                            <th class="col-1">4</th>
                            <th class="col-1">5</th>
                            <th class="col-1">6</th>
                            <th class="col-1">7</th>
                            <th class="col-1">8</th>
                            <th class="col-1">9</th>
                            <th class="col-1">10</th>
                        </tr>
                    </thead>
                    <tr>
                        <input type="hidden" id="selectedRadio" asp-for="Question10Check" />
                        <td>
                            <input style="display: block; margin: 0 auto" class="form-check-input" type="radio"
                                   name="RadioDefault" value="1" id="myradio" checked />
                        </td>
                        <td>
                            <input style="display: block; margin: 0 auto" class="form-check-input" type="radio"
                                   name="RadioDefault" value="2" id="myradio" />
                        </td>
                        <td>
                            <input style="display: block; margin: 0 auto" class="form-check-input" type="radio"
                                   name="RadioDefault" value="3" id="myradio" />
                        </td>
                        <td>
                            <input style="display: block; margin: 0 auto" class="form-check-input" type="radio"
                                   name="RadioDefault" value="4" id="myradio" />
                        </td>
                        <td>
                            <input style="display: block; margin: 0 auto" class="form-check-input" type="radio"
                                   name="RadioDefault" value="5" id="myradio" />
                        </td>
                        <td>
                            <input style="display: block; margin: 0 auto" class="form-check-input" type="radio"
                                   name="RadioDefault" value="6" id="myradio" />
                        </td>
                        <td>
                            <input style="display: block; margin: 0 auto" class="form-check-input" type="radio"
                                   name="RadioDefault" value="7" id="myradio" />
                        </td>
                        <td>
                            <input style="display: block; margin: 0 auto" class="form-check-input" type="radio"
                                   name="RadioDefault" value="8" id="myradio" />
                        </td>
                        <td>
                            <input style="display: block; margin: 0 auto" class="form-check-input" type="radio"
                                   name="RadioDefault" value="9" id="myradio" />
                        </td>
                        <td>
                            <input style="display: block; margin: 0 auto" class="form-check-input" type="radio"
                                   name="RadioDefault" value="10" id="myradio" />
                        </td>
                    </tr>
                </table>
                <br />
                <div>
                    <hr />
                </div>
                <div style="margin-top:20px">
                    <table width="100%" class="table table-striped table-hover">
                        <input type="hidden" id="resultRadio" asp-for="Result" />
                        <tr>
                            <td class="col-6">
                                <label>Result</label>
                            </td>
                            <td class="col-1">
                                <label>Pass</label>
                            </td>
                            <td class="col-2">

                                <input style="display: block; margin: 0 auto" class="form-check-input" type="radio"
                                       name="RadioResult" value="Pass" id="myradio" checked />
                            </td>
                            <td class="col-1">
                                <label>Fail</label>
                            </td>
                            <td class="col-2">
                                <input style="display: block; margin: 0 auto" class="form-check-input" type="radio"
                                       name="RadioResult" value="Fail" id="myradio" checked />
                            </td>
                        </tr>
                    </table>
                </div>
                <table class="table table-striped table-bordered" width="600" border="0" cellspacing="0" cellpadding="0">
                    <thead style="background: #002060; color: #fff; text-align: center">
                        <tr>
                            <th class="col-8">Comments (strengths/weaknesses)</th>
                        </tr>
                    </thead>
                    <tr>
                        <td>
                            <textarea runat="server" class="textAreaBig form-control" asp-for="Comments" name="Comments" tabindex="6" id="txtRemarks1"
                                      rows="3" cols="10"></textarea>
                        </td>
                    </tr>
                </table>

                
                <div style="text-align: right; margin-top: 20px" class="p-2">
                    <div class="text_area">
                        <div>
                            <label asp-for="Assessor1">Name Of Assesor 1</label>
                            <div class="clear_area"></div>
                            <select asp-for="Assessor1" class="form-control">
                                <option value="" selected="selected">Select Assessor</option>
                                <option value="Zulfiya Hakim Mirza">Zulfiya Hakim Mirza</option>
                                <option value="Sudhakar Philpdhas">Sudhakar Philpdhas</option>
                                <option value="Nawal Murad Al Balooshi">Nawal Murad Al Balooshi</option>
                                <option value="Mona Othman Abdul Qader">Mona Othman Abdul Qader</option>
                                <option value="Khaled Jamshid Rahravan">Khaled Jamshid Rahravan</option>
                                <option value="Saeeda Buti Saeed">Saeeda Buti Saeed</option>
                            </select>
                        </div>
                        <div>
                            <label for="txtReceiversname">Examiner Signature</label>
                        </div>
                        <div class="clear_area"></div>
                        <div class="panel panel-default">
                            <div class="panel-body" id="signature-padExaminer">
                                <div>
                                    <canvas id="canvasExaminer" style="
                        width: 90%;
                        height: 200px;
                        border: 1px ridge #ccc;
                        border-radius: 5px 5px 10px 15px;
                      "></canvas>
                                   <input type="hidden" ID="ImageValExaminer" name="ExaminerSign" />
                                   <span id="ExaminerSignError" class="text-danger d-block"></span>

                                </div>
                                <div>
                                    <button data-action="clear" class="btn btn-danger">
                                        Clear
                                    </button>
                                    <button style="display: none" data-action="save" class="btn btn-success">
                                        تقديـــم
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

               
                <div style="display: none" class="noteBottom img-rounded">
                    Official use only:
                    <br />
                    Report received by and date:<br />
                    Scanned and filed<br />
                </div>
                <div class="p-4">
                    <button id="saveForm" style="display: block; margin: 0 auto" runat="server" Text="Submit"
                            class="btn btn-primary">
                        Submit
                    </button>
                </div>
            </div>
</form>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/signature_pad.js"></script>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/signature_pad.js"></script>

<script>
    var canvasExaminer, signaturepadExaminer;

    $(document).ready(function () {

        // Setup signature pad
        canvasExaminer = document.getElementById("canvasExaminer");
        signaturepadExaminer = new SignaturePad(canvasExaminer);

        function resizeCanvas() {
            var ratio = window.devicePixelRatio || 1;
            canvasExaminer.width = canvasExaminer.offsetWidth * ratio;
            canvasExaminer.height = canvasExaminer.offsetHeight * ratio;
            canvasExaminer.getContext("2d").scale(ratio, ratio);
        }

        window.onresize = resizeCanvas;
        resizeCanvas();

        // Clear signature pad
        $("[data-action='clear']").on("click", function () {
            signaturepadExaminer.clear();
            $("#ExaminerSignError").text(""); // Clear error when reset
        });

        // Submit validation
        $("#saveForm").on("click", function (e) {
            let valid = true;

            if (signaturepadExaminer.isEmpty()) {
                $("#ExaminerSignError").text("Signature of Assessor 1 is required.");
                $("[id='ImageValExaminer']").val("_blank");
                valid = false;
            } else {
                var base64C = canvasExaminer.toDataURL("image/png").replace("data:image/png;base64,", "");
                $("[id='ImageValExaminer']").val(base64C);
                $("#ExaminerSignError").text("");
            }

            // Set hidden values from radio buttons
            var question9 = $('input[name="radiobutton2"]:checked').val();
            var question10 = $('input[name="RadioDefault"]:checked').val();
            var result = $('input[name="RadioResult"]:checked').val();

            $("#progressRadio").val(question9);
            $("#selectedRadio").val(question10);
            $("#resultRadio").val(result);

            if (!valid) {
                e.preventDefault(); // Prevent form submission
            }
        });
    });
</script>
