@model DCAS_PracticalExam.Models.TraumaAssessmentEvaluationFields

@{
    ViewData["Title"] = "AddTraumaAssessment";
}

<form method="post" enctype="multipart/form-data">
    <div class="mycontainer p-2">
        <h2 class="text-center" style="color: #c00000">
            Evaluation Form for Trauma Assessment
        </h2>
        <h4 class="text-center" style="color: #002060">
            Ambulance Regulation Services Section
        </h4>
        <div>
            <hr />
        </div>

        <div class="form-row">
            @* <div class="col-md-6">
              <div class="form-group"> <label asp-for="CandidateName">Candidate Name</label> 
                <input runat="server" id="CandidateName" tabindex="1" name="CandidateName" asp-for="CandidateName" class="form-control" type="text" />
                <span asp-validation-for="CandidateName" class="text-danger"></span>
                  </div>
            </div> *@
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="CRMRequest">CRM Request</label>
                    <input asp-for="CRMRequest" runat="server" type="text" value="" tabindex="1" class="form-control" id="crmRequestInput" required/>
                    <span asp-validation-for="CRMRequest" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
            <div class="form-group"> <label asp-for="TestDate">Test Date</label>
                    <input asp-for="TestDate" runat="server" type="text" class="form-control"
                           id="testDateInput" readonly tabindex="-1" style="background-color: #e9ecef; cursor: not-allowed;" />
                <span asp-validation-for="TestDate" class="text-danger"></span>
                </div>
            </div>
        </div>
        @* <div class="form-row">
            <div class="col-md-6">
              <div class="form-group"> <label asp-for="EstablishmentName">Establishment Name</label> 
                <input runat="server" id="EstablishmentName" tabindex="1" name="EstablishmentName" asp-for="EstablishmentName" class="form-control" type="text" />
                <span asp-validation-for="EstablishmentName" class="text-danger"></span>
                  </div>
            </div>
            <div class="col-md-6">
            <div class="form-group"><label asp-for="Designation">Designation</label>
                    <input asp-for="Designation" runat="server" type="text" value="" tabindex="2" class="form-control" id="datetimepicker" />
                    <span asp-validation-for="Designation" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="form-row">
           
        </div> *@

        
           <div>
                <hr />
            </div>
            <div>
                <table class="table table-striped table-bordered" width="600" border="0" cellspacing="0"
                       cellpadding="0">
                    <thead style="background: #002060; color: #fff">
                    <th class="col-xs-8" colspan="3">Critical Performance Steps</th>
                    <th class="col-xs-4">Points</th>
                    </thead>
                    <tr style="display: none">
                        <td>Name</td>
                        <td>
                            An Establishment shall not use a name which is substantially
                            the same as the name of another ambulance service licensed by
                            DCAS unless the applicant is part of the same organization or
                            affiliated organization of the other services.
                        </td>
                        <td>
                            <input runat="server" type="checkbox" name="StandardName" id="StandardName"
                                   value="Yes" />
                            <label for="StandardName"></label>
                        </td>
                        <td>
                            <textarea runat="server" class="textAreaBig form-control" name="txtCmts" tabindex="6"
                                      id="txtRemarks1" rows="3" cols="10"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>PPE</td>
                        <td colspan="2">
                            1.1 Takes or verbalizes body substance isolation precaution
                        </td>
                        <td>
                            <input type="checkbox" asp-for="PointsStep1" />
                            <span asp-validation-for="PointsStep1" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="5">Scene Size-up</td>
                        <td colspan="2">2.1 Determines if the scene is safe</td>
                        <td>
                            <input type="checkbox" asp-for="PointsStep2" />
                            <span asp-validation-for="PointsStep2" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">2.2 Determines the mechanism of injury</td>

                        <td>
                            <input type="checkbox" asp-for="PointsStep3" />
                            <span asp-validation-for="PointsStep3" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">2.3 Determines the number of patients</td>
                        <td>
                            <input type="checkbox" asp-for="PointsStep4" />
                            <span asp-validation-for="PointsStep4" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">2.4 Requests additional help if necessary</td>
                        <td>
                            <input type="checkbox" asp-for="PointsStep5" />
                            <span asp-validation-for="PointsStep5" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">2.5 Considers Stabilization of spine</td>
                        <td>
                            <input type="checkbox" asp-for="PointsStep6" />
                            <span asp-validation-for="PointsStep6" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="11">Initial Assessment</td>
                        <td colspan="2">
                            3.1 Verbalizes general impression of patient
                        </td>
                        <td>
                            <input type="checkbox" asp-for="PointsStep7" />
                            <span asp-validation-for="PointsStep7" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">3.2 Determines responsiveness</td>
                        <td>
                            <input type="checkbox" asp-for="PointsStep8" />
                            <span asp-validation-for="PointsStep8" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            3.3 Determines chief complaint / apparent life threats
                        </td>
                        <td>
                            <input type="checkbox" asp-for="PointsStep9" />
                            <span asp-validation-for="PointsStep9" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="4">3.4 Assess airway and breathing</td>
                        <td>3.4.1 Assessment</td>
                        <td>
                            <input type="checkbox" asp-for="PointsStep10" />
                            <span asp-validation-for="PointsStep10" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>3.4.2 Initiates appropriate oxygen therapy</td>
                        <td>
                            <input type="checkbox" asp-for="PointsStep11" />
                            <span asp-validation-for="PointsStep11" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>3.4.3 Assures adequate ventilation</td>
                        <td>
                            <input type="checkbox" asp-for="PointsStep12" />
                            <span asp-validation-for="PointsStep12" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>3.4.4 Injury management</td>
                        <td>
                            <input type="checkbox" asp-for="PointsStep13" />
                            <span asp-validation-for="PointsStep13" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="3">3.5 Assess circulation</td>
                        <td>3.5.1 Assesses and controls major bleedings</td>
                        <td>
                            <input type="checkbox" asp-for="PointsStep14" />
                            <span asp-validation-for="PointsStep14" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>3.5.2 Assesses pulse</td>
                        <td>
                            <input type="checkbox" asp-for="PointsStep15" />
                            <span asp-validation-for="PointsStep15" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>3.5.3 Assesses skin (color, temperature & condition)</td>
                        <td>
                            <input type="checkbox" asp-for="PointsStep16" />
                            <span asp-validation-for="PointsStep16" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            3.6 Identifies priority patients. Makes transport decisions
                        </td>
                        <td>
                            <input type="checkbox" asp-for="PointsStep17" />
                            <span asp-validation-for="PointsStep17" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="3">Focused/ Rapid Assessment</td>
                        <td colspan="2">
                            4.1 Select appropriate assessment (Focused or Rapid
                            Assessment).
                        </td>
                        <td>
                            <input type="checkbox" asp-for="PointsStep18" />
                            <span asp-validation-for="PointsStep18" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            4.2 Obtains or directs assistant to obtain baseline vital
                            signs
                        </td>
                        <td>
                            <input type="checkbox" asp-for="PointsStep19" />
                            <span asp-validation-for="PointsStep19" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">4.3 Obtains SAMPLE history</td>
                        <td>
                            <input type="checkbox" asp-for="PointsStep20" />
                            <span asp-validation-for="PointsStep20" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="18">Detailed Physical Examination</td>

                        <td rowspan="3">5.1 Assesses the head</td>
                        <td>5.1.1 Inspects and palpates the scalp and ears</td>
                        <td>
                            <input type="checkbox" asp-for="PointsStep21" />
                            <span asp-validation-for="PointsStep21" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>5.1.2 Assesses the eyes</td>
                        <td>
                            <input type="checkbox" asp-for="PointsStep22" />
                            <span asp-validation-for="PointsStep22" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            5.1.3 Assesses the facial area including oral and nasal area
                        </td>
                        <td>
                            <input type="checkbox" asp-for="PointsStep23" />
                            <span asp-validation-for="PointsStep23" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="3">5.2 Assesses the neck</td>
                        <td>5.2.1 Inspects and palpates the neck</td>
                        <td>
                            <input type="checkbox" asp-for="PointsStep24" />
                            <span asp-validation-for="PointsStep24" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>5.2.2 Assesses for JVD</td>
                        <td>
                            <input type="checkbox" asp-for="PointsStep25" />
                            <span asp-validation-for="PointsStep25" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>5.2.3 Assesses for tracheal deviation</td>
                        <td>
                            <input type="checkbox" asp-for="PointsStep26" />
                            <span asp-validation-for="PointsStep26" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="3">5.3 Assesses the chest</td>
                        <td>5.3.1 Inspects</td>
                        <td>
                            <input type="checkbox" asp-for="PointsStep27" />
                            <span asp-validation-for="PointsStep27" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>5.3.2 Palpates</td>
                        <td>
                            <input type="checkbox" asp-for="PointsStep28" />
                            <span asp-validation-for="PointsStep28" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>5.3.3 Auscultates the chest</td>
                        <td>
                            <input type="checkbox" asp-for="PointsStep29" />
                            <span asp-validation-for="PointsStep29" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="3">5.4 Assesses the abdomen/ pelvis</td>
                        <td>5.4.1 Assesses the abdomen</td>
                        <td>
                            <input type="checkbox" asp-for="PointsStep30" />
                            <span asp-validation-for="PointsStep30" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>5.4.2 Assesses the pelvis</td>
                        <td>
                            <input type="checkbox" asp-for="PointsStep31" />
                            <span asp-validation-for="PointsStep31" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            5.4.3 Verbalizes assessment of genitals/ perineum as needed
                        </td>
                        <td>
                            <input type="checkbox" asp-for="PointsStep32" />
                            <span asp-validation-for="PointsStep32" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="4">
                            5.5 Assesses the extremities (Includes inspection, palpation,
                            assessment of pulses, sensory & motor activities)
                        </td>
                        <td>5.5.1 Arm – Left</td>
                        <td>
                            <input type="checkbox" asp-for="PointsStep33" />
                            <span asp-validation-for="PointsStep33" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>5.5.2 Arm – Right</td>
                        <td>
                            <input type="checkbox" asp-for="PointsStep34" />
                            <span asp-validation-for="PointsStep34" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>5.5.3 Leg – Left</td>
                        <td>
                            <input type="checkbox" asp-for="PointsStep35" />
                            <span asp-validation-for="PointsStep35" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>5.5.4 Leg – Right</td>
                        <td>
                            <input type="checkbox" asp-for="PointsStep36" />
                            <span asp-validation-for="PointsStep36" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="2">5.6 Assesses the posterior</td>
                        <td>5.6.1 Assesses thorax</td>
                        <td>
                            <input type="checkbox" asp-for="PointsStep37" />
                            <span asp-validation-for="PointsStep37" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>5.6.2 Assesses lumbar</td>
                        <td>
                            <input type="checkbox" asp-for="PointsStep38" />
                            <span asp-validation-for="PointsStep38" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="3">Others</td>
                        <td colspan="2">
                            6.1 Manages secondary injuries and wounds appropriately.
                        </td>
                        <td>
                            <input type="checkbox" asp-for="PointsStep39" />
                            <span asp-validation-for="PointsStep39" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            6.2 Verbalizes reassessment of the vital signs
                        </td>
                        <td>
                            <input type="checkbox" asp-for="PointsStep40" />
                            <span asp-validation-for="PointsStep40" class="text-danger"></span>
                        </td>
                    </tr>
                </table>
            </div>
            <div>
                <hr />
            </div>
            <div>
                <table style="width: 50%; border: 1px solid black;">

                    <tr>
                        <td colspan="4" style="padding: 2px 35px; color: red;">Critical Criteria</td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <div class="form-check" style="padding: 2px 35px;">
                                <input class="form-check-input" type="checkbox" value="true"  asp-for="CriteriaCheck1" id="CriteriaCheck1" />
                                <label class="form-check-label" asp-for="CriteriaCheck1">
                                    Did not take or verbalize body substance isolation
                                    precautions
                                </label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <div class="form-check" style="padding: 2px 35px;">
                                <input class="form-check-input" type="checkbox" value="true" asp-for="CriteriaCheck2" id="CriteriaCheck2" />
                                <label class="form-check-label" asp-for="CriteriaCheck2">
                                    Did not assess for spinal protection
                                </label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <div class="form-check" style="padding: 2px 35px;">
                                <input class="form-check-input" type="checkbox" value="true"  asp-for="CriteriaCheck3" id="CriteriaCheck3" />
                                <label class="form-check-label" asp-for="CriteriaCheck3">
                                    Did not provide for spinal protection when indicated
                                </label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <div class="form-check" style="padding: 2px 35px;">
                                <input class="form-check-input" type="checkbox" value="true" asp-for="CriteriaCheck4" id="CriteriaCheck4" />
                                <label class="form-check-label" asp-for="CriteriaCheck4">
                                    Did not provide high concentration of oxygen
                                </label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <div class="form-check" style="padding: 2px 35px;">
                                <input class="form-check-input" type="checkbox" value="true"  asp-for="CriteriaCheck5" id="CriteriaCheck5" />
                                <label class="form-check-label" asp-for="CriteriaCheck5">
                                    Did not find or manage problems associated with airway,
                                    breathing, hemorrhage or shock (hypoperfusion)
                                </label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <div class="form-check" style="padding: 2px 35px;">
                                <input class="form-check-input" type="checkbox" value="true"  asp-for="CriteriaCheck6" id="CriteriaCheck6" />
                                <label class="form-check-label" asp-for="CriteriaCheck6">
                                    Did not differentiate patient’s needing transportation
                                    versus continued on scene assessment
                                </label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <div class="form-check" style="padding: 2px 35px;">
                                <input class="form-check-input" type="checkbox" value="true"  asp-for="CriteriaCheck7" id="CriteriaCheck7" />
                                <label class="form-check-label" asp-for="CriteriaCheck7">
                                    Does other detailed physical examination before assessing
                                    airway, breathing and circulation
                                </label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <div class="form-check" style="padding: 2px 35px;">
                                <input class="form-check-input" type="checkbox" value="true"  asp-for="CriteriaCheck8" id="CriteriaCheck8" />
                                <label class="form-check-label" asp-for="CriteriaCheck8">
                                    Did not transport patient within 10 minutes (time limit)
                                </label>
                            </div>
                        </td>
                    </tr>
                </table>
                <!-- Here Comes Total Awarded Points & Obtain Points -->
            </div>
            <div style="margin-top:20px">
                <table width="100%" class="table table-striped table-hover">
                    <input type="hidden" id="selectedRadio" asp-for="Result" />
                    <tr>
                        <td class="col-6">
                            <label>Result</label>
                        </td>
                        <td class="col-1">
                            <label>Pass</label>
                        </td>
                        <td class="col-2">

                            <input style="display: block; margin: 0 auto" class="form-check-input" type="radio"
                                   name="RadioDefault" value="Pass" id="myradio" checked />
                        </td>
                        <td class="col-1">
                            <label>Fail</label>
                        </td>
                        <td class="col-2">
                            <input style="display: block; margin: 0 auto" class="form-check-input" type="radio"
                                   name="RadioDefault" value="Fail" id="myradio" checked />
                        </td>
                    </tr>
                </table>
            </div>
            <table class="table table-striped table-bordered" width="600" border="0" cellspacing="0" cellpadding="0">
                    <thead style="background: #002060; color: #fff; text-align: center">
                        <tr>
                            <th class="col-8">Comments</th>
                        </tr>
                    </thead>
                    <tr>
                        <td>
                            <textarea runat="server" class="textAreaBig form-control" asp-for="Comments" name="Comments" tabindex="6" id="txtRemarks1"
                                      rows="3" cols="10"></textarea>
                        </td>
                    </tr>
                </table>

            <div style="text-align: right; margin-top: 10px " class="row">
                <div class="text_area col-6">
                    <div>
                        <label asp-for="Assessor">Name Of Assesor</label>
                        <div class="clear_area"></div>
                        <select asp-for="Assessor" class="form-control">
                            <option value="" selected="selected">Select Assessor</option>
                            <option value="Zulfiya Hakim Mirza">Zulfiya Hakim Mirza</option>
                            <option value="Sudhakar Philpdhas">Sudhakar Philpdhas</option>
                            <option value="Nawal Murad Al Balooshi">Nawal Murad Al Balooshi</option>
                            <option value="Mona Othman Abdul Qader">Mona Othman Abdul Qader</option>
                        <option value="Ali Moosa Al Hafidh">Ali Moosa Al Hafidhi</option>
                        <option value="Khalid Eissa Ghalib Bin Salmeen Al Mahri">Khalid Eissa Ghalib Bin Salmeen Al Mahri</option>
                        </select>
                    </div>
                    <div class="clear_area"></div>
                    <div class="panel panel-default">
                        <div class="panel-body" id="signature-pad">
                            <div>
                                <canvas id="sigcanvas" style="
                        width: 90%;
                        height: 200px;
                        border: 1px ridge #ccc;
                        border-radius: 5px 5px 10px 15px;
                      "></canvas>
                                <input type="hidden" ID="ImageValInspector1" name="Assessor1Sign" />
                                <span id="signature1-validation" class="text-danger"></span>
                            </div>
                            <div>
                                <button data-action="clear" class="btn btn-danger">
                                    Clear
                                </button>
                                <button style="display: none" data-action="save" class="btn btn-success">
                                    تقديـــم
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text_area col-6">
                    <div>
                    <label asp-for="Monitor">Name Of Monitor</label>
                        <div class="clear_area"></div>
                    <select asp-for="Monitor" class="form-control">
                        <option value="" selected="selected">Select Monitor</option>
                            <option value="Zulfiya Hakim Mirza">Zulfiya Hakim Mirza</option>
                            <option value="Sudhakar Philpdhas">Sudhakar Philpdhas</option>
                            <option value="Nawal Murad Al Balooshi">Nawal Murad Al Balooshi</option>
                            <option value="Mona Othman Abdul Qader">Mona Othman Abdul Qader</option>
                        <option value="Ali Moosa Al Hafidh">Ali Moosa Al Hafidhi</option>
                        <option value="Khalid Eissa Ghalib Bin Salmeen Al Mahri">Khalid Eissa Ghalib Bin Salmeen Al Mahri</option>
                        </select>
                    </div>
                    <div class="clear_area"></div>
                    <div class="panel panel-default">
                        <div class="panel-body" id="signature-padCustomer">
                            <div>
                                <canvas id="canvasCustomer" style="
                        width: 90%;
                        height: 200px;
                        border: 1px ridge #ccc;
                        border-radius: 5px 5px 10px 15px;
                      "></canvas>
                                <input type="hidden" ID="ImageValCustomer" name="Assessor2Sign" />
                                <span id="signature2-validation" class="text-danger"></span>
                            </div>
                            <div>
                                <button data-action="clearCustomer" class="btn btn-danger">
                                    Clear
                                </button>
                                <button style="display: none" data-action="save" class="btn btn-success">
                                    تقديـــم
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div style="display: none" class="noteBottom img-rounded">
                Official use only:
                <br />
                Report received by and date:<br />
                Scanned and filed<br />
            </div>
            <div class="mt-4">
                <button id="saveForm" style="display: block; margin: 0 auto" runat="server" Text="Submit"
                        class="btn btn-primary">
                    Submit
                </button>
                </div>
        </div>
        
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/signature_pad.js"></script>
<script type="text/javascript">
    $(function () {
        const today = new Date();
        const formattedDate = today.getDate().toString().padStart(2, '0') + '-' +
            (today.getMonth() + 1).toString().padStart(2, '0') + '-' +
            today.getFullYear();
        $('#testDateInput').val(formattedDate);


        $("#saveForm").bind("click", function (e) {
            let isValid = true;
            $("#signature1-validation").text("");
            $("#signature2-validation").text("");


            if (signaturePad.isEmpty()) {
                $("#signature1-validation").text("Signature of Assessor is required.");
                $("[Id*=ImageValInspector1]").val("_blank");
            } else {
                var base64 = $("#sigcanvas")[0].toDataURL();
                base64 = base64.replace("data:image/png;base64,", "");
                $("[Id*=ImageValInspector1]").val(base64);
            }

            if (signaturePadCustomer.isEmpty()) {
                $("#signature2-validation").text("Signature of Monitor is required.");
                $("[Id*=ImageValCustomer]").val("_blank");
            } else {
                var base64C = $("#canvasCustomer")[0].toDataURL();
                base64C = base64C.replace("data:image/png;base64,", "");
                $("[Id*=ImageValCustomer]").val(base64C);
            }

            var my2ndopt = $('input[name="RadioDefault"]:checked').val(); // Selected Result Radio

            $("#selectedRadio").val(my2ndopt); 
            if (!isValid) {
                e.preventDefault(); 
                return false;
            }
        });
    });
</script>
<script lang="ja" type="text/javascript">
    var wrapper = document.getElementById("signature-pad"),
        clearButton = wrapper.querySelector("[data-action=clear]"),
        canvas = wrapper.querySelector("canvas"),
        signaturePad;

    var wrapperCustomer = document.getElementById("signature-padCustomer"),
        clearButtonCustomer = wrapperCustomer.querySelector(
            "[data-action=clearCustomer]"
        ),
        canvasCustomer = wrapperCustomer.querySelector("canvas"),
        signaturePadCustomer;

    function resizeCanvas() {
        var ratio = window.devicePixelRatio || 1;
        canvas.width = canvas.offsetWidth * ratio;
        canvas.height = canvas.offsetHeight * ratio;
        canvas.getContext("2d").scale(ratio, ratio);

        canvasCustomer.width = canvasCustomer.offsetWidth * ratio;
        canvasCustomer.height = canvasCustomer.offsetHeight * ratio;
        canvasCustomer.getContext("2d").scale(ratio, ratio);

    }

    window.onresize = resizeCanvas;
    resizeCanvas();
    signaturePad = new SignaturePad(canvas);
    clearButton.addEventListener("click", function (event) {
        signaturePad.clear();
    });

    signaturePadCustomer = new SignaturePad(canvasCustomer);
    clearButtonCustomer.addEventListener("click", function (event) {
        signaturePadCustomer.clear();
    });

    var uri = "api/signatures";
</script>