<div id="cookieConsentdiv">
    <h3 id="h3" class="display-6">Cookie Policy</h3>
    <p>PLEASE ACCEPT OUR COOKIE POLICY.</p>
    <button type="button" onclick="setCookie()">
        <span aria-hidden="true">Accept</span>
    </button>
</div>